.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.adventure-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.adventure-list__item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  margin: 0 20px 20px;
  cursor: pointer;
}

.adventure-list__item-container--disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.adventure-list__image {
  width: 150px;
  height: 150px;
}

.adventure {
}

.adventure__container {
}

.adventure__title {
}

.adventure__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adventure__story-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.adventure__descision-text {
}

.adventure__image {
  width: 350px;
  height: 350px;
}

.adventure__options-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.adventure__option {
  margin: 25px;
  width: 150px;
}

.adventure__result-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.adventure__result-image {
  width: 50px;
  height: 50px;
}

.adventure__sources {
  display: flex;
  flex-direction: column;
}
